h5 {
    color: rgb(109,111,114);
}

body {
    color: rgb(0,90,171);
}

span {
	border-style: solid;
	border-width: 2px;
	border-color: rgb(109,111,114);
	margin:2px;
}

.step {
	color: rgb(187,8,38);
}

.label1 {
	color: rgb(0,90,171);
}

#logo {
	border-radius: 45px;
}

#row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8, #row9, #row10, #row11 {
	margin-bottom: 7px;
}

#A1, #A2, #A3, #A4, #A5, #A6, #A7 {
	background-color: rgb(227,174,11);
}

#B1, #B2, #B3, #B4, #B5, #B6, #B7 {
	background-color: rgb(240,240,240);
	font-size: 17px;
}

#C1, #C2, #C3, #C4, #C5, #C6, #C7 {
	background-color: rgb(225,225,225);
	font-size: 17px;
}

#D1, #D2, #D3, #D4, #D5, #D6, #D7 {
	background-color: rgb(210,210,210);
	font-size: 17px;
}

#E1, #E2, #E3, #E4, #E5, #E6, #E7 {
	background-color: rgb(195,195,195);
	font-size: 17px;
}

#A8, #B8, #C8, #D8, #E8 {
	background-color: rgb(0,90,171);
	font-size: 17px;
	color: white;
}

#A1, #A2, #A3, #A4, #A5, #A6, #A7, #A8, #A9, #A10 {
	font-weight: 700;
	font-size: 17px;		
}

#A9, #B9, #C9, #D9, #E9 {
	background-color: rgb(88,131,101);
	color: white;
	font-size: 17px;
}

#A10, #B10, #C10, #D10, #E10 {
	background-color: rgb(251,198,16);
	color: (124,126,129);
	font-size: 17px;
}

#B11, #C11 {
	color: (0,0,0);
	font-size: 8px;
}

#projectAmount, #monthlySavings, #rateIncrease, #submit, #clear {
	margin: 10px;
}